# Variables

In [8]:
a = 3
b = a
print(id(a), id(b))

# 같은 주소 값이 나옴

a += 2
print(a,b,id(a),id(b))

# 다른 주소 값이 나오며 값도 달라짐

(140706101895632, 140706101895632)

In [ ]:
# 모두 같은 주소를 잡음

a = [1,2,3]
b = a

print(id(a), id(b))

a += [4,5,6]
a,b,id(a),id(b)

In [12]:
# Immutable

def test1(a):
    a = 2

a=1
test1(a)
a

1

In [13]:
# mutable

def test2(a):
    a.append("World")

a = ["Hello"]
test2(a)
a

['Hello', 'World']

## Basic Variables

In [14]:
a = 100
b = 0b100
a, b

(100, 4)

In [15]:
# binary로 표현되며 이는 string이 된다.
bin(a)

'0b1100100'

In [16]:
print(type(a))
print(type(bin(a)))

<class 'int'>
<class 'str'>

In [18]:
# hexa로 나타나게 된다
hex(a)

'0x64'

In [24]:
x = [1,2,3]
x.append(10)

In [25]:
x

[1, 2, 3, 10]

In [26]:
y = [1,2,3,10]
y

[1, 2, 3, 10]

In [28]:
print("Object가 같은가?",x is y)
print("Object의 value가 같은가?",x == y)

Object가 같은가? False
Object의 value가 같은가? True

In [29]:
3 > 4, 13/2, 13//2, 13%2

(False, 6.5, 6, 1)

In [32]:
# Boolean은 True == 1, False == 0

True + True

2

In [31]:
True * True

1

In [34]:
# logarithm expression

x, y = 1e6, 1e-3
x,y

(1000000.0, 0.001)

In [35]:
# complex number
c = 1.5 +0.7j
c.real, c.imag

(1.5, 0.7)

In [37]:
# input, output
x = input()
print(x)
print(type(x))

5
5
<class 'str'>

In [38]:
# input and type casting
x = int(input())
print(x)
print(type(x))

5
5
<class 'int'>

In [39]:
a = [1,2,3,4]
b = 3
b in a, 5 not in a

(True, True)

## Container Types
- string, list, tuple, dictionary(Hash map)
- indexing
- slicing
- iterations

### String

In [42]:
s.capitalize(), s.upper(), s.lower(), s.swapcase()

('Hello', 'HELLO', 'hello', 'HELLO')

In [45]:
s.isalnum(), s.isalpha(), s.isdigit()

(True, True, False)

In [47]:
s2 = "123"
s2.upper(), s.isalpha(), s2.isdigit()

('123', True, True)

In [48]:
s1 = "animals: cat, dog, cat, cat, cat, wow!!"
s2 = "cat"
s1.find(s2), s1.index(s2), s1.rfind(s2) # 맨 뒤

(9, 9, 29)

In [49]:
"   Too many space.    ".strip()

'Too many space.'

In [50]:
"HELLO".replace("E","e")

'HeLLO'

In [51]:
x = "I am home."
x.split(' ')

['I', 'am', 'home.']

In [52]:
":".join(['1','2','3'])

'1:2:3'

### Indexing and Slicing

In [62]:
# inedexing
a = "hello world!"
print(a[0], a[1], a[-1], a[-2])

# slicing
print(a[0:5], a[0:5:2]) # start, end(excluding), step(or stride)
print(a[:-1])
print(a[:])
print(a[::2])

h e ! d
hello hlo
hello world
hello world!
hlowrd

In [63]:
# string은 immuatable 하기 때문에 assign 불가하다.
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [66]:
for x in "Banana":
    if x.islower():
        print(x.upper())
    else:
        print(x)

B
A
N
A
N
A

## Iterable objects
- string, list, tuples, dict

In [74]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

myit, next(myit), next(myit), next(myit)

(<tuple_iterator at 0x1b8d2c99448>, 'apple', 'banana', 'cherry')