# Numpy
- n-dim array (all elements are same type)
- math library functions

In [1]:
import numpy as np

In [3]:
a = [1,2,3]
arr_a =np.array(a)

a, type(a), arr_a, type(arr_a)

([1, 2, 3], list, array([1, 2, 3]), numpy.ndarray)

In [4]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [5]:
arr_a * 3

array([3, 6, 9])

In [8]:
# all elements become same type

b = [1, 2.1, 'hello']
arr_b = np.array(b)
b * 2, arr_b

([1, 2.1, 'hello', 1, 2.1, 'hello'],
 array(['1', '2.1', 'hello'], dtype='<U32'))

In [21]:
# compare list and arrays
# array 가 더 빠름

N = 10000
arr_a = np.arange(N)

%time arr_a2 = arr_a**2
%time a2 = [i**2 for i in range(N)]

Wall time: 999 µs
Wall time: 7.98 ms

In [29]:
arr2 = np.arange(12).reshape(3,4)
arr2

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [31]:
arr2[0], arr2[-1], arr2.T

(array([0, 1, 2, 3]), array([ 8,  9, 10, 11]), array([[ 0,  4,  8],
        [ 1,  5,  9],
        [ 2,  6, 10],
        [ 3,  7, 11]]))

In [34]:
arr2[:,1:3]

array([[ 1,  2],
       [ 5,  6],
       [ 9, 10]])

In [36]:
arr2.dtype, arr2.shape

(dtype('int32'), (3, 4))

In [38]:
np.ones((2,3))
np.zeros((2,3))
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [39]:
# 전체 합
arr2.sum()

66

In [42]:
# axis 방향 합
arr2.sum(axis=0)
arr2.sum(axis=1)

array([ 6, 22, 38])

In [47]:
arr2.argmax() # maximum이 되는 index

11

In [45]:
arr2.max(axis=0)
arr2.max(axis=1)

array([ 3,  7, 11])

In [66]:
arr2.sort() # inplace function
arr2

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [70]:
# sorting
arr2.sort()
arr3 = arr2[::-1, ::-1]
print(arr3)
arr3.sort()
print(arr3)
print(arr3[::,::-1])

[[11 10  9  8]
 [ 7  6  5  4]
 [ 3  2  1  0]]
[[ 8  9 10 11]
 [ 4  5  6  7]
 [ 0  1  2  3]]
[[11 10  9  8]
 [ 7  6  5  4]
 [ 3  2  1  0]]

## Axis
- axis 0 가 기본인 이유는 feature 들이 세로로 있기 때문

In [72]:
# random 하게 나열하는 방법
z = np.arange(10)
np.random.permutation(z)

array([5, 6, 7, 3, 2, 8, 0, 1, 4, 9])

In [83]:
# concatenation
a = np.arange(12).reshape(3,4); a.shape

(3, 4)

In [82]:
b1 = np.array([7,7,7,7]);
b1.reshape(1,4); b1.reshape(1,-1)

array([[7, 7, 7, 7]])

In [89]:
np.concatenate([a,b1.reshape(1,4)], axis=0)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [ 7,  7,  7,  7]])

In [94]:
b2 = np.array([9,9,9])
np.concatenate([a,b2.reshape(3,1)],axis=1)

# axis = n 으로 concatenate 하려면 해당 axis 를 제외하고는 모두 같아야 함

array([[ 0,  1,  2,  3,  9],
       [ 4,  5,  6,  7,  9],
       [ 8,  9, 10, 11,  9]])